#footer= 'Copyright © '
  a(rel='nofollow', target='_blank', herf='https://github.com/oahgnehzoul')  llzzzhh |
  |  Powered by  
  a(rel='nofollow', target='_blank', href='https://hexo.io')  Hexo |
  a(rel='nofollow', target='_blank', href='https://github.com/oahgnehzoul/maupassant')  Theme
  |  by
  a(rel='nofollow', target='_blank', href='https://github.com/oahgnehzoul')  oahgnehzoul.
